@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2 class="text-success">Tarea 2 Programación N-Capas</h2>
    <hr />
    <center>
        <p class="text-info">Josué David Cortez Aguilar - 00402918</p>
    </center>
</div>
